<h1>検索内容</h1>
<%#= link_to '検索', youtube_search_path %>
<%= form_with(model: @youtube, url: youtube_search_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :keyword, "キーワード" %>
    <%= form.text_field :keyword %>

    <%= form.label :sorting, "並び換え" %>
    <%= form.select :sorting, {'関連度順': 1, 'アップロード順': 2, '視聴回数順': 3, '評価順': 4} %>
  </div>
  <br>

after: 8年前, before: 4年前
<br>
<p>
  <div class="actions">
    <%= form.submit "検索" %>
  </div>
<% end %>