<h1>検索内容</h1>
    <ul class='lists-right'>
      <% if user_signed_in? %>
      <li><%= current_user.nickname %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
<%= form_with(model: @youtube, url: youtube_search_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :keyword, "キーワード" %>
    <%= form.text_field :keyword %>

    <%= form.label :sorting, "並び換え" %>
    <%= form.select :sorting, {'関連度順': 1, 'アップロード順': 2, '視聴回数順': 3, '評価順': 4} %>
<br>
検索範囲

      <%= raw sprintf(
                  form.date_select(
                    :after_date,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: Time.now.year,
                    end_year: (1990),
                    date_separator: '%s'),
                  " 年 ", " 月 ") + " 日から " %>
                  <br>
      <%= raw sprintf(
                  form.date_select(
                    :before_date,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: Time.now.year,
                    end_year: (1990),
                    date_separator: '%s'),
                  " 年 ", " 月 ") + " 日まで " %>
    </div>
    <br>
<p>
  <div class="actions">
    <%= form.submit "検索" %>
  </div>
<% end %>